body{
	background-color:#f8e5b7;
}
h1{
	font-family: 'Anton', sans-serif;
	font-size: 120px;
	color:black;
	text-align: center;
}

h5{
	font-family: 'Anton', sans-serif;
	font-size: 30px;
	color:black;
	text-align: center;
}

h3{
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 30px;
}
.content{
	padding-top: 5%;
}

p{
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 20px;
}

.author{
	text-align: center;
	font-family: 'Anton', sans-serif;
}

.author a{
	color:black;
	font-weight: bolder;
	font-family: 'Anton', sans-serif;
}
.pages{
	color:black;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 30px;

}

a{
	color:black;
	font-weight: bolder;
}

h2{
	font-family: 'Anton', sans-serif;
}
.president{
	font-family: 'Anton', sans-serif;
	text-align: right;
	font-size: 30px;
}

.present{
	text-align: right;
	padding-bottom: 10%;
}

.future{
	text-align: left;
	padding-bottom: 10%;
}